.comments {
  .write {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin: 20px 0;
    gap: 20px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    input {
      // width ne img bighadate aahe karan padding dileli aahe so apply flex
      //   width: 100%;
      flex: 5;
      padding: 10px;
      border: 1px solid skyblue;
      color: black;
    }
    button {
      background-color: rgb(20, 77, 164);
      color: #fff;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .comment {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin: 20px 0;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .info {
      flex: 7;
      gap: 3px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      span {
        font-weight: 500;
        font-size: 14px;
      }
      p {
        color: rgb(127, 124, 124);
      }
    }

    .date {
      flex: 1;
      align-self: center;
      color: rgb(127, 124, 124);
    }
  }
}
